<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>paginate</display-name>
  <servlet>
    <servlet-name>SemesterServlet</servlet-name>
    <servlet-class>com.wh.servlet.SemesterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SemesterServlet</servlet-name>
    <url-pattern>/semester</url-pattern>
  </servlet-mapping>
</web-app>